body{
    text-align: center;
    background-color:black;
    margin: 0;
    color: #fff;
 }
 
 header{
        padding: 20px 0;
 }
 .caixa{
      display: inline;
      position: relative;
      width: 800px;
     margin: 0 auto;
 }
 h3{
     text-align: left;
 }
 
 h1{
      font-size: 30px;
      color: rgb(255, 255, 255);
 }
 
 .logo{
      width: 10%;
      border-radius: 100%;
      margin-left: 15px;
      box-shadow: 2px 2px #000000;
 }
 
 nav a {
       font-size: 20px;
       padding-left: 20px;
       color: #ffffff;
       text-decoration: none;
       text-transform: uppercase;
 }
